@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

/*General*/
ul {
    display: flex;
    
}

li {
    list-style-type: none;
}

.purple {
    color:#7342d6;
}

a {
    text-decoration: none;
}
body {
    max-width: 100vw;
}
img {
    width: 100%;
    
}
button {
     
    border: 0;
    border-radius: 9999px;
    background: #3c0d99;
    color: white;
    padding: 15px;
    
    right: 5px;
    top: 5px;
}

/*Navigation*/

nav {
 height: 80px;
 display: flex;
    

}

.logo img {
   width: 40px;
   margin-right: 10px;
    
}
.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nav__container {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin:  0 auto;
   padding: 0 24px;


}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}
.nav__link--primary{
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
}
.nav__link--primary:hover {
    text-decoration: none;
}

/*Header */
.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    
}

h1 {
    font-size: 56px;
    margin-bottom: 24px;
    text-align:center;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
}
h5 {
    text-align: left;
}

input {
 
    border: 0;
    border-radius: 9999px;
    padding: 20px;
    width: 100%;
  }
  
  /* input:focus { */
    
  /* } */
  
  /* input::placeholder { */
    
  /* } */
  
  .landing__button {
    
    border: 0;
    border-radius: 9999px;
    background: #3c0d99;
    color: white;
    padding: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  
  .btn__submit {
    position: relative;
    display: inline-block;
    width: 50%;
  }

.header__row {
display: flex;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.header__highlight {
    padding: 0 24px;
    width: calc(100%/2);
}

.header__img--wrapper {
    padding: 20px;
}

#landing {
    height: 100vh;
}
/*FEATURES*/

.features__container{
    padding: 80px 0;

}
.features__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.feature__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.features__description {
    font-size: 48px;
    margin-bottom: 24px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;

}
.service {
    
    display: flex;
   
    width: calc(100% / 3);
    padding: 24px;
    
}

.service_description {
    display: flex;
    flex-direction: column;
}

.service__img{
    flex-shrink: 0;
    border-radius: 9999px;
    border-width:1px ;
    padding: 1.25rem;
    text-align: center;
}
.subtitle{
    
}
/*QUALITY*/

.quality__container{
    height: 100vh;
    margin:0 216px ;
    padding: 96px 0;
}
.quality__row{
    width: 100%;
    max-width: 1200px;
    margin: auto 0;
    display: flex;
}
.quality__head{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}

.quality__example {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: left;
}
.quality__description {
    font-size: 48px;
    margin-bottom: 24px;
    margin-top: 16px;
    text-align: left;
}

.quality__btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    position: relative;
    margin-top: 24px;
}

.quality__para {
    padding: 32px;
    margin-left: 24px;
}
/*Easy*/

.easy__container{
    height: 100vh;
    margin:0 216px ;
    padding: 96px 0;

}
.easy__row{
    width: 100%;
    max-width: 1200px;
    margin: auto 0;
    display: flex;
    padding: 24px;
   
}
.easy__head {
display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
       
}
.easy__img{
    width: 50%;
    /* display: flex;
    flex-direction: column; */
    height: auto;
    vertical-align: middle;
    padding: 96px 0;
}

.easy__description {
    font-size: 48px;
    margin-bottom: 24px;
    margin-top: 16px;

}

.easy__numbers {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.easy__number {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;


}

.easy__para {
    margin-top: 12px;
    padding: 0 20px;
    
}

.easy__subtitle{
    padding: 0 20px;

}

.easy__one {
    color: gray;
    font-size: 2.25rem;
}

.easy__5{
    text-align: left;
}
/*Plans*/
.plan__container {
    height: 100vh;
}
.plan__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.plans{
display: flex;
flex-direction: row;
align-items: stretch;
position: relative;
-webkit-box-pack: justify;
justify-content: space-between;
}
.plan{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    position: relative;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    text-align: center;
    max-width: 24rem;
    --tw-bg-opacity:1;
    
    
}

.plan__two {
background-color:rgb(100 21 255) ;
    color: white;
}
.plan__header {
    margin-top: 2.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.plan__pricing{
    font-weight: 700;
    letter-spacing: .1em;
}
.plan__head{
    font-size: 3rem;
    margin: 0px;
    text-align: center;
    letter-spacing: .025em;
    width: 100%;

}
.plan__para{
    font-size: 1.125rem;
    margin: 0px;
    margin-top: 1rem;
    max-width: 36rem;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(113,128, 150);
}
.plan__1{
    display: flex;
    flex-direction: column;
position: relative;
padding-top: 2rem;
padding-bottom: 2rem;
line-height: 1.625;
outline: rgb(66,153,225)solid 1px;
}
.plan__2{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;

}

.plan__3{
    padding-left: 4rem;
    padding-right: 4rem;
    padding: 2rem 1rem;
    outline: rgb(68,153 green,225 blue);
    position: relative;
    display: flex;
    align-items: center;
}


.plan__btn--1{
   background-color:#6ac99b ;
 
}
.plan__btn--2{
   background-color:#ede3e3 ;
   color: blue;
 
}
.plan__btn--3{
   background-color:#ef7a7a ;
 
}
.plan__btn--1,
.plan__btn--2,
.plan__btn--3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.name{
font-size: 1.25rem;
font-weight: 700;

}
.price{
    font-size: 3rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-weight: 700;


}
.duration{
    font-weight: 700;
    letter-spacing: .1em;
    color: rgb(160,174,192);

}
.main__feature{
    margin-top: 1.25rem;
    font-weight: 500;
    letter-spacing: .025em;


}
.feature{
    margin-top: 1.25rem;
    font-weight: 500;
    --tw-text-opacity:1;
    color: rgb(113,128, 150);

}

.plan__btn{
    font-size: 100%;
    color:rgb(66, 153, 225);

    cursor: pointer;
   display: flex;
   justify-content: center;
}

/*Footer*/

.footer__header{
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;

}
.footer__box {
    display: flex;
    background-color: #3c0d99;
    margin-left: 220px;
    margin-right: 220px;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer__h2{
    color: white;
}
.footer__btn {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.footer__btn--1{
    padding: 20px 40px;
    margin-right: 32px;
    background-color: #e53e3e;
}
.footer__btn--2{
    padding: 20px 40px;
    border-color:white;
}


.footer__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 60vh;
}

.footer__links{
    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    text-align: left;
}

.footer__link{
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
    color: white;
    margin-top: 48px;
}
.footer__row {
    background-color: #3c0d99;
}
.footer__feature{
    margin-top: 12px;
}
/*Landing*//*Landing*//*Landing*/